.messages-lower-box {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: gray;
    -fx-padding: 30;
}

.messages-lower-box-text-field {
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 15;
}

.messages-upper-box-left-scroll-pane {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: gray;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.messages-upper-right-box {
    -fx-padding: 30;
}

.messages-upper-box-right-scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: gray;
}