.signup-heading {
    -fx-font-family: "Lexend ExtraBold";
    -fx-font-size: 40px;
}

.signup-label {
    -fx-font-family: "Lexend Bold";
    -fx-font-size: 15px;
}

.signup-label:hover {
    -fx-font-family: "Lexend Bold";
    -fx-font-size: 15px;
}

.signup-hyperlink {
    -fx-font-family: "Lexend Bold";
    -fx-font-size: 15px;
}

.signup-label-login {
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 15px;
}

.signup-text-field {
    -fx-padding: 0;
    -fx-background-color: gray, white;
    -fx-min-height: 30px;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0px;
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 15px;
    -fx-insets: -30 0 0 0;
}

.signup-password-field {
    -fx-padding: 0 35 0 0;
}

.signup-text-field:focused {
    -fx-background-color:  #5304c2, white;
    -fx-background-insets: 0, 0 0 2 0;
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 15px;
}

.signup-button {
    -fx-background-color: #5604c8;
    -fx-font-family: "Lexend Bold";
    -fx-font-size: 15px;
}

.signup-button:hover {
    -fx-background-color: #6b05fa;
}

.signup-error {
    -fx-font-family: "Lexend Regular";
    -fx-font-size: 12px;
}

.error {
    -fx-background-color: red, white;
    -fx-background-insets: 0, 0 0 2 0;
}

.visibility-toggle, visibility-toggle:hover, visibility-toggle:focused {
    -fx-background-image: url("../images/visible.png");
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}